 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
body{
    background-color:hsl(233, 11%, 85%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}

.navbar{
    position:fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color:white ;
    height: 50px;
    padding: 10px;
    box-shadow:  0 0 10px 0 rgba(0,0,0,0.4);
}

.return{
    float: left;
    text-align: left;
    height: 25px;
    position: relative;
    padding: 10px ;
}

.link{
    text-align: right;
    color: black; 
    padding-top: 2%; 
}

.links{
    text-decoration: none;
    border-color:#80B3FF ;
    color: black;
    padding: 28px;
    border-left: solid #80B3FF;
}

.nn{
    padding: 10px;
}

#acctName{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.name{
    margin-top: 10px;
    color:black;
    margin-bottom: 10px;
    
}

#user{
    background-image: url(pencil.png);
    height: 30px;
    width: 30px;
    background-size: 100%;
    margin-top: 90px;
    position: relative;
    left: 90%;
    top: 40px;
    border: none;
    border-radius: 20px;

}

#cuser{
    display: none;
    
}

#chuser{
    border:solid  ;
}


}
































/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 801px) {

    
body{
    background-color: hsl(233, 11%, 85%);    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.navbar{
    position:fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background-color:white ;
    box-shadow:  0 0 10px 0 rgba(0,0,0,0.4);
}

.return{
    float: left;
    text-align: left;
    height: 25px;
    margin-left: 1%;
    position: relative;
    padding: 20px;
}


.link{
    text-align: right;
    color: black; 
    padding-top: 2%; 
}

.links{
    text-decoration: none;
    border-color:#80B3FF ;
    color: black;
    padding: 28px;
    border-left: solid #80B3FF;
}

#acctName{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.name{
    margin-top: 100px ;
    margin-left: 30px;
    margin-bottom: 10px;  
    color: black;
}

#change{
    margin-left: 30px;
    margin-bottom: 5px;
}

#show{
    position: relative;
    top: 60px;
    right: 40px;
    height: 40px;
    width: 40px;
}

#hidden{
    display: none;
    align-items: center;
    text-align: center;
    border: solid 1px ;
    border-radius: 20px;
    width: 90px;
    height: 90px;
    padding: 0px;
    margin: auto;
    background-color:burlywood;
}

}

