/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 800px) {
    body{
        background-color:hsl(233, 11%, 85%);            
    }

    .navbar{
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;   
        width: 100%;
        box-shadow:  0 0 10px 0 rgba(0,0,0,0.4);
    }

    .profile1{
        float: left;
        height: 50px;
        border-radius: 100px;
    }
    
    #profilename{
        float: left;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .header{
        float: left;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: 600;
    }

    .dd{
        background-color: #04AA6D;
        color: white;
        font-size: 16px;
        border: none;
        position: absolute;
        right:0 ;
        height: 40px;
        width: 40px;
        margin: 13px 10px;
    }
      
    #dd-btn{
        background-image: url(menu.png);
        height: 40px;
        width: 40px;
        background-size: 100%;
        border: solid 1px ;
    }
      
    #dd-content {
        display: none;
        position: absolute;
        right: 0px;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
        
    }
      
    #dd-content a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 20px;
        text-align: center;
    }

    #dd-content a:hover {background-color: white;}
    
    #dd-content a:active{background-color: lightcyan;}
    
    .dd:hover #dd-content {display:block;}                           
      
    .dd:hover #dd-btn {background-color: #3e8e41;}
      
    .icon{
        position: absolute;
        bottom: 0;
        right: 0;
        

    }

    .ico{
        width: 50px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: none;
        border-radius: 40px;
        box-shadow: 0px 1px 9px 0px black; 
    }

    .sidebar{
        display:none;
    }

}

    



@media only screen and (min-width: 801px) {
    body{
        background-color:hsl(233, 11%, 85%);            
    }

   
    .navbar{
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;   
        width: 100%;
        box-shadow:  0 0 10px 0 rgba(0,0,0,0.4);
    }

    .profile1{
        float: left;
        height: 50px;
        border-radius: 100px;
    }
    
    #profilename{
        float: left;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .header{
        float: left;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-weight: 600;
    }

    #dd-btn{
        display: none;
    }

    #dd-content{
        position: absolute;
        right: 0;
        padding: 23px;
    }

    .links{
        text-decoration: none;
        color: white;
        padding: 24px;
        font-size:20px;
    }

    .links:hover{
        background-color: black;
        transition: 1s;
    }

    .links:active{
        color:  black;
    }

    .icon{
        position: absolute;
        bottom: 0;
        right: 0;
        

    }

    .ico{
        width: 50px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: none;
        border-radius: 40px;
        box-shadow: 0px 1px 9px 0px black; 
    }

    .sidebar{
        position: fixed;
        left: 0px;
        top: 65px;
        background-color:#04AA6D;
        height: 100%;
        width: 48px;     
    }

}