body{
    font-family: 'poppins','sans-serif';
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    background-image: url(atom1.png);
    background-size: 100%;
}

*{
    box-sizing: border-box;
}

.q{
    height: 100px;
    
}

#see{
    position: absolute;
    top:270px ;
    left: 325px;
    background-image: url(eye.webp);
    height: 26px;
    width: 26px;
    background-size:100% ;
    border-radius: 40px;
    border: none;
}

.col-1{
    position: relative;
    width:400px;
    height:450px;
    background: rgb(53, 68, 68);  
    display: flex;
    justify-content: center;
    align-items:center;
    float:left;
    padding: 15px;
    border: 1px solid red;
}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom:80px ;
}

.userbox{
    position: relative;
    width: 310px;
    border-bottom: 1px solid #fff;
}

.passbox{
    position: relative;
    width: 310px;
    border-bottom: 1px solid #fff;
}

.userbox input{
    width: 100%;
    height: 40px;
    background: transparent;
    border:none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-family: '';
}

.passbox input{
    width: 100%;
    height: 40px;
    background: transparent;
    border:none;
    outline: none;
    font-size: 1em;
    color: #fff;
}

#submit {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 10px;
    font-family: dancing_script ;
}

#submit:hover{
    background-color: #7b8ab6;
    transition: 5ms;
}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

#passrest{
    text-decoration: none;
    color: black;
    padding: 1px;
}

.label{
    text-align:left ;
    margin-top: 15px;
}

@media  screen  and (min-width: 768px) {
    .col-1
    {
    width: 100%;
    }

    .section
    {
        background-size: 100%;
        height: auto;
        width: 100%;
    }

    body
    {
        background-image: none;
    }
}