/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 800px) {
    body{
        background-color:white;
        margin: 0;
        color: white;
    }

    .navbar{
        background-color: rgb(6, 3, 31);
        position: fixed;
        top: 0;
        left: 0;   
        width: 100%;
        box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.4);
    }

    .profile1{
        float: left;
        height: 50px;
        border-radius: 100px;
    }
    
    #profilename{
        float: left;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .header{
        float: left;
        width: auto;
        margin: 10px;
    }

    .logo{
        display: flex;
        text-decoration: none;
        font-weight: 600;
    }

    .dd{
        background-color: #04AA6D;
        color: white;
        font-size: 16px;
        border: none;
        position: absolute;
        right:0 ;
        height: 40px;
        width: 40px;
        margin: 13px 10px;
    }
      
    #dd-btn{
        background-image: url(menu.png);
        height: 40px;
        width: 40px;
        background-size: 100%;
        border: solid 1px ;
    }
      
    #dd-content {
        display: none;
        position: absolute;
        right: 0px;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
        
    }
      
    #dd-content a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 20px;
        text-align: center;
    }

  
    #dd-content a:hover {background-color: white;}
    
    #dd-content a:active{background-color: lightcyan;}
    
    .dd:hover #dd-content {display:block;}                           
      
    .dd:hover #dd-btn {background-color: #3e8e41;}
   
    .empty{
        margin-top: 125px;
    }
    
    .icon{
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .ico{
        width: 45px;
        margin: 20px;
        border: none;
        border-radius: 40px;
        box-shadow: 1px 4px 10px  black; 
    }

    .pro1{
        border-radius: 40px;
        width: 150px;
        box-shadow: 0px 6px 40px 0px ;
    }

    .image{
        margin: 0 auto;
        width: fit-content;
        text-align: center;
    }

    .details{
        display:  flex;    
        justify-content:space-around;
        width: 100%;
        height: 60vh;
        
    }

    .content1{

        color: black;

    }

    .content2{

    }

    .content3{

    }

    #na{
        font-family: poppins;   
        margin-bottom: 20px;
        background: transparent;
    }

    .footer{
      text-align: center;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
    }

    
}





@media only screen and (min-width: 801px) {
    body{
        background-color: white;
        margin: 0;          
    }

   
    .navbar{
        background-color: rgb(6, 3, 31);
        position: fixed;
        top: 0;
        left: 0;   
        width: 100%;
        box-shadow:  0 0 10px 0 rgba(0,0,0,0.4);
    }

    .header{
        float: left;
        margin-left: 10px;
    }

    .profile1{
        margin: 0px;
        height: 50px;
        border-radius: 100px;
        padding: 5px;
    }
    
    #dd-btn{
        display: none;
    }

    #dd-content{
        position: absolute;
        right:30px ;
        top: 20px;        
    }

    .links{
        text-decoration: none;
        color:white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;      
        margin: 10px 10px;
    }

    .links a{

    }

    .links:hover{
        text-decoration: underline;
        transition: 10ms;
    }

    .links:active{
        color: black;
        
    }

    .empty{
        margin-top: 125px;
    }
    

    .icon{
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .ico{
        width: 45px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: none;
        border-radius: 40px;
        box-shadow: 0px 4px 10px 0px black; 
    }

    .details{
        height: 60vh;
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    .content1{

    }

    .content2{   

    }

    .content3{   

    }

    .footer{
        text-align: center;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
      }
    
}