body{
    background-color:#80B3FF;
    text-align: center;
}

.navbar{
    position:sticky; 
    top: 0;
    background-color:white ;
    height: 70px;
}



.profile1{
    float: left;
    text-align: left;
    height: 70px;
    margin-left: 1%;
    position: relative;
}


#profilename{
    float: left;
    padding: 23px 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link{
    text-align: right;
    color: black; 
    padding-top: 2%; 
}

.links{
    text-decoration: none;
    border-color:#80B3FF ;
    color: black;
    padding: 20px;
    border-left: solid #80B3FF;
}



.middle{
    text-align: center;
}

.welcome{
    text-align: center;
    font-family: sacramento ;
    font-size: xx-large;
    padding: 6%;
}



.username{
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 2%;
}

.password{
    padding-bottom: 20px;
}

#userInput{
    height: 1%;
    width: 25%;
    padding: 5px;
    border:  solid #80B3FF;
    border-radius: 10px;
}

#passwordInput{
    height: 1%;
    width: 25%;
    padding: 5px;
    border:  solid #80B3FF;
    border-radius: 10px;
}


#submit{
    margin-bottom:10px;
    width: 90px;
    height: 30px;
    background-color: burlywood;
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    border:#80B3FF;  
    
}

#submit:hover{
    background-color:white;
    transition: 1s;
}

#see{
    position: relative;
    left:16% ;
    bottom: 50px;
    background-image: url(eye.webp);
    height: 30px;
    width: 30px;
    background-size:100% ;
    border-radius: 80%;
    border: #80B3FF;
}

