/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    body{
        background-color:white;
        margin: 0;
        font-family: roboto;
        background-image: url(/Images/background_in_space.gif);
    }

    .navbar{
        background-color: white;
        position: sticky;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 1;
    }

    .header{
        margin: 5px 10px;
    }

    .profile1{
        height: 50px;
        border-radius: 100px;
    }

    .dd{
        height: 40px;      
        width: 40px;
    }
      
    #dd-btn{
        background-image: url(/Images/menu.png);
        height: 40px;
        width: 40px;
        background-size: 100%;
    }
    
    .dd-btn{
        background-image: url(/Images/menu.png);
        height: 40px;
        width: 40px;
        background-size: 100%;
    }

    #dd-content {
        display: none;
        position: absolute;
        right: 11px;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
    }
      
    #dd-content a {
        color: rgb(24, 20, 20);
        text-decoration: none;
        display: block;
        padding: 20px;
        text-align: center;
    }

    .settings{
        display: none;
        width: 10px;
        height: 10px;
        margin: 0px;
        padding: 0px;
    }
  
    #dd-content a:hover {
                        background-color: rgb(11, 7, 53);
                        color: white;
                        }
                        
    
    #dd-content a:active{background-color: rgb(11, 7, 53);
                        color: white;}
    
    .dd:hover #dd-content {display:block;}  
      
    .dd:hover #dd-btn {background-color: #3e8e41;}
   
    .empty{
        margin-top: 150px;
    }
    
    .icon{
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .ico{
        width: 45px;
        margin: 20px;
        border: none;
        border-radius: 40px;
        box-shadow: 1px 4px 10px  black; 
    }

    .pro1{
        border-radius: 40px;
        width: 150px;
        box-shadow: 0px 6px 40px 0px ;
    }

    .image{
        margin: 0 auto;
        width: fit-content;
        text-align: center;
    }

    .na{
        font-size: 30px;
        font-family: poppins;
        text-align: center;
        color: white;
    }
    
    #na{
        font-family: poppins;   
        margin-bottom: 20px;    
        color: white;
    }

    .ba{
        text-align: center;
        margin-bottom: 30px;
        color: white;
    }

    .banner{
        margin: 0 auto;
        width: auto;
        text-align: center;
        color: white;
    }

    .search{
        padding: 0px 10px 0px 0px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10px;
        border: solid 1px ;
        width: fit-content;
        margin: auto;
        background-color: white;
    }

    .search-bar{
        height: 30px;   
        width: 200px;
        border-radius: 30px;
        border: none;
        outline: none;
        padding-left: 20px;
        
    }

    .sear{  
        margin: 0;
        height: 30px;
        cursor: pointer;
    }

    #search-btn{
        border: none;
        background: transparent;
        padding-left: 10px;
        border-left: solid 1px;
    }

    .not1{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .not{
        color: white;
        text-align: center;
    }

    .not:active{
        text-decoration:dotted;
    }

    .details{
        display:  flex;    
        justify-content:space-around;
        width: 100%;
        flex-direction: column;
        margin-top: 100px;
        gap:50px;
    }

    .details2{
        display:  flex;    
        justify-content:space-around;
        width: 100%;
        flex-direction: column;
        margin-top: 50px;
        gap:50px;
    }

    .content1{
        border: none;
        border-radius: 3px;
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        padding: 10px;
        background-color: white;
    }

    .content1:hover img{
        transform: scale(1.05);
        transition-duration: 1s;
        z-index: -1;   
    }
    
    .coding{
        height: 200px;
       width: 200px;
    }

    .start{
        background-color: rgb(11, 7, 53);
        color: white;
        border: none;
        border-radius: 5px;
        padding:15px 0px ;
    }

    .start a span{
        color: white;
        height: 40px;
        padding-left: 85px ;
        padding-right:85px ;
        padding-bottom:15px ;
        padding-top:15px ;   
    }

    .start:hover{
        opacity: 0.8;
    }

    .black{
        text-decoration: none;
        color: black;
        font-family: roboto;
    }

    .nn{
        color: white;
        display: flex;
        justify-content: center;
    }

    .black1{
        text-decoration: none;
        color: black;
    }

    .footer{
      text-align: center;
      height: 40px;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 10px 0px;
    }

 }






























 @media only screen and (max-width: 1279px) {
    body{
        background-color:white;
        margin: 0;
        font-family: roboto;
        background-image: url(/Images/background_in_space.gif);
    }

    .navbar{
        background-color: white;
        position: sticky;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        width: 100%;
        z-index: 1;
    }

    .header{
        margin: 5px 10px;
    }

    .profile1{
        height: 50px;
        border-radius: 100px;
    }

    .dd{
        color: white;
        font-size: 16px;
        border: none; 
        margin: 5px 10px;       
    }
      
    #dd-btn{
        background-image: url(menu.png);
        height: 40px;
        width: 40px;
        background-size: 100%;
        border: none ;
    }
      
    #dd-content {
        display: none;
        position: absolute;
        right: 11px;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
        z-index: 1;
        
    }
      
    #dd-content a {
        color: rgb(24, 20, 20);
        text-decoration: none;
        display: block;
        padding: 20px;
        text-align: center;
        z-index: 1;
    }

    .settings{
        display: none;
        width: 10px;
        height: 10px;
        margin: 0px;
        padding: 0px;
    }
  
    #dd-content a:hover {
                        background-color: rgb(11, 7, 53);
                        color: white;
                        }
                        
    
    #dd-content a:active{background-color: rgb(11, 7, 53);
                        color: white;}
    
    .dd:hover #dd-content {display:block;}  
      
    .dd:hover #dd-btn {background-color: #3e8e41;}
   
    .empty{
        margin-top: 150px;
    }
    
    .icon{
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .ico{
        width: 45px;
        margin: 20px;
        border: none;
        border-radius: 40px;
        box-shadow: 1px 4px 10px  black; 
    }

    .pro1{
        border-radius: 40px;
        width: 150px;
        box-shadow: 0px 6px 40px 0px ;
    }

    .image{
        margin: 0 auto;
        width: fit-content;
        text-align: center;
    }

    .na{
        font-size: 30px;
        font-family: poppins;
        text-align: center;
        color: white;
    }
    
    #na{
        font-family: poppins;   
        margin-bottom: 20px;    
        color: white;
    }

    .ba{
        text-align: center;
        margin-bottom: 30px;
        color: white;
    }

    .banner{
        margin: 0 auto;
        width: auto;
        text-align: center;
        color: white;
    }

    .search{
        padding: 0px 10px 0px 0px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10px;
        border: none ;
        width: fit-content;
        margin: auto;
        background-color: white;
    }

    .search-bar{
        height: 30px;   
        width: 200px;
        border-radius: 30px;
        border: none;
        outline: none;
        padding-left: 20px;
    }

    .sear{  
        margin: 0;
        height: 30px;
        cursor: pointer;
    }

    #search-btn{
        border: none;
        background: transparent;
        padding-left: 10px;
        border-left: solid 1px;
    }

    .not1{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .not{
        color: white;
        text-align: center;
    }

    .not:active{
        text-decoration:dotted;
    }

    .details{
        display:  flex;    
        justify-content:space-around;
        width: 100%;
        flex-direction: column;
        margin-top: 100px;
        gap:50px;
        
    }

    .details2{
        display:  flex;    
        justify-content:space-around;
        width: 100%;
        flex-direction: column;
        margin-top: 50px;
        gap:50px;
    }

    .content1{
        border: none;
        border-radius: 3px;
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        
        padding: 10px;
        background-color: white;
    }

    .content1:hover img{
        transform: scale(1.05);
        transition-duration: 1s;
        z-index: -1;   
    }
    
    .coding{
        height: 200px;
       width: 200px;
    }

    .start{
        background-color: rgb(11, 7, 53);
        color: white;
        border: none;
        border-radius: 5px;
        padding:15px 0px ;
    }

    .start a span{
        color: white;
        height: 40px;
        padding-left: 85px ;
        padding-right:85px ;
        padding-bottom:15px ;
        padding-top:15px ;   
    }

    .start:hover{
        opacity: 0.8;
    }

    .black{
        text-decoration: none;
        color: black;
        font-family: roboto;
    }

    .nn{
        color: white;
        display: flex;
        justify-content: center;
    }

    .black1{
        text-decoration: none;
        color: black;
    }

    .footer{
      text-align: center;
      height: fit-content;
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

 }
































/* laptop and desktop */
@media only screen and (min-width: 1280px) {
    body{
        background-image: url(/Images/background_in_space.gif);
        margin: 0;          
        font-family: roboto;
    }

    .navbar{
        background-color:white;
        position: sticky;
        top: 0;
        left: 0;   
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 1;
    }

    .header{
        margin-left: 10px;
    }

    .profile1{
        height: 50px;
        border-radius: 100px;
        padding: 5px;
    }

    #dd-btn{
        display: none;
    }

    #dd-content{
        text-align: right;
        display: flex;
        justify-content: end;
        margin-right: 30px;
        margin-top: 10px;
    }

    .links{
        text-decoration: none;
        color:black;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;      
        padding: 10px 10px; 
        font-weight: 600;      
    }

    .links:hover{
        text-decoration: underline;
        transition: 10ms;
    }

    .links:active{
        color: black;
    }

    .set{
        background-color: white;
        height: fit-content;
        border-radius: 20px;
        padding: 1px;
    }

    .settings{
        height: 40px;
        border-radius: 20px;
        margin-top: 1px;
    }

    
    .astro1{
        z-index: 1;
        float: left;
        height: 100px;
        animation: astron 10s infinite;
    }

    @keyframes astron {
        0%{
            transform: translateX(0px);
        }

        50%{
            transform: translateX(100%) 
        }
        
        75%{
            
        }

        100%{
            transform: translateX(0px);
        }

    }

    .astro2{
        z-index: 1;
        float: right;
        height: 100px;
        animation: astron1 10s infinite;
    }

    @keyframes astron1 {
        0%{
            transform: translateX(0px);
        }

        50%{
            transform: translateX(-100%) 
        }
       

        100%{
            transform: translateX(0px);
        }

    }


    .empty{
        margin-top: 155px;

    }
    
    .na{
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
        color: white;
    }

    .ba{
        text-align: center;
        animation: move 10s infinite ;
        margin-bottom: 40px;
        color: white;
    }

    .banner{
        z-index: -1;
    }

    @keyframes move {
        0%{
            transform: translateY(0px);
        }

        33%{
            transform: translateY(20px);
        }

        66%{
            transform: translateY(-20px);
        }

        100%{
            transform: translateY(0px);
        }
    }

    .search{
        padding: 0px 10px 0px 0px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:10px;
        border: solid 1px;
        width: fit-content;
        margin: auto;
        background-color: white;
        font-family: roboto;
    }

    .search-bar{
        height: 40px;   
        width: 300px;
        border-radius: 30px;
        border: none;
        outline: none;
        padding-left: 20px;
        font-family: roboto;
    }

    .sear{
        margin: 0;
        height: 30px;
        cursor: pointer;
    }

    #search-btn{
        border: none;
        background: transparent;
        padding-left: 10px;
        border-left: solid 1px;
    }

    .not{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        color: white;
    }

    .not1{
        color: white;
    }

    #e{
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .details{
        height: 50vh;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        margin-top: 60px;
    }

    .coding{
        height: 150px;
        z-index: -1;
        padding:0px 90px;
    }

    .coding:hover{
        z-index: -1;
        transform: scale(1.1);
        transition-duration: 500ms;
        transition-duration: infinite;
        
    }

    .black{
        text-decoration: none;
        color: black;
        font-family: roboto;
    }

    .start{
        background-color: rgb(11, 7, 53);
        color: white;
        border: none;
        border-radius: 5px;
        padding:15px 0px ;
    }

    .start a span{
        color: white;
        height: 40px;
        padding-left: 85px ;
        padding-right:85px ;
        padding-bottom:15px ;
        padding-top:15px ;   
    }

    .start:hover{
        opacity: 0.8;
    }

    .content1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        box-shadow: 0px 0px 4px 0px black;
        padding: 30px;
        height: fit-content;
        width: 300px;
        background-color: white;
        border-radius: 5px;
    }

    
    .details2{
        height: 50vh;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        margin-top: 30px;
    }

    .nn{
        color: white;
        display: flex;
        justify-content: center;
    }

    .black1{
        text-decoration: none;
        color: black;
    }

    .footer{
        text-align: center;
        height: fit-content;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        flex-direction: column;
    }
    
}